<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Class Tev\Post\Model\Page | 3ev Core Wordpress library API</title>

	<link rel="stylesheet" href="resources/bootstrap.min.css?08b23951ef4599ca9cbf1f902d0e8290c9653ddd">
	<link rel="stylesheet" href="resources/style.css?062e9e59e0b8c44fbaaded5b7ffc21f907b78669">

</head>

<body>
	<div id="navigation" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="index.html" class="brand">3ev Core Wordpress library API</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li>
							<a href="namespace-Tev.Post.Model.html" title="Summary of Tev\Post\Model"><span>Namespace</span></a>
						</li>
						<li class="active">
<span>Class</span>						</li>




					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="left">
	<div id="menu">
		<form id="search" class="form-search">
			<input type="hidden" name="cx" value="">
			<input type="hidden" name="ie" value="UTF-8">
			<input type="text" name="q" class="search-query" placeholder="Search">
		</form>


		<div id="groups">
				<h3>Namespaces</h3>
			<ul>
					<li class="active main">
						<a href="namespace-Tev.html">
							Tev<span></span>
						</a>
							<ul>
					<li class="main">
						<a href="namespace-Tev.Application.html">
							Application<span></span>
						</a>
							<ul>
					<li class="main">
						<a href="namespace-Tev.Application.Bootstrap.html">
							Bootstrap						</a>
							</li>
								</ul></li>
					<li class="main">
						<a href="namespace-Tev.Author.html">
							Author<span></span>
						</a>
							<ul>
					<li class="main">
						<a href="namespace-Tev.Author.Model.html">
							Model						</a>
							</li>
								</ul></li>
					<li class="main">
						<a href="namespace-Tev.Contracts.html">
							Contracts						</a>
							</li>
					<li class="main">
						<a href="namespace-Tev.Field.html">
							Field<span></span>
						</a>
							<ul>
					<li class="main">
						<a href="namespace-Tev.Field.Model.html">
							Model						</a>
							</li>
					<li class="main">
						<a href="namespace-Tev.Field.Util.html">
							Util						</a>
							</li>
								</ul></li>
					<li class="main">
						<a href="namespace-Tev.Plugin.html">
							Plugin<span></span>
						</a>
							<ul>
					<li class="main">
						<a href="namespace-Tev.Plugin.Action.html">
							Action						</a>
							</li>
					<li class="main">
						<a href="namespace-Tev.Plugin.Shortcode.html">
							Shortcode						</a>
							</li>
								</ul></li>
					<li class="active main">
						<a href="namespace-Tev.Post.html">
							Post<span></span>
						</a>
							<ul>
					<li class="active main">
						<a href="namespace-Tev.Post.Model.html">
							Model						</a>
							</li>
					<li class="main">
						<a href="namespace-Tev.Post.Repository.html">
							Repository						</a>
							</li>
								</ul></li>
					<li class="main">
						<a href="namespace-Tev.Taxonomy.html">
							Taxonomy<span></span>
						</a>
							<ul>
					<li class="main">
						<a href="namespace-Tev.Taxonomy.Model.html">
							Model						</a>
							</li>
					<li class="main">
						<a href="namespace-Tev.Taxonomy.Repository.html">
							Repository						</a>
							</li>
								</ul></li>
					<li class="main">
						<a href="namespace-Tev.Term.html">
							Term<span></span>
						</a>
							<ul>
					<li class="main">
						<a href="namespace-Tev.Term.Model.html">
							Model						</a>
							</li>
					<li class="main">
						<a href="namespace-Tev.Term.Repository.html">
							Repository						</a>
							</li>
								</ul></li>
					<li class="main">
						<a href="namespace-Tev.Util.html">
							Util						</a>
							</li>
					<li class="main">
						<a href="namespace-Tev.View.html">
							View<span></span>
						</a>
							<ul>
					<li class="main">
						<a href="namespace-Tev.View.Exception.html">
							Exception						</a>
							</li>
								</ul></li></ul></li>
					<li>
						<a href="namespace-None.html">
							None						</a>
							</li>
			</ul>
		</div>


		<div id="elements">
			<h3>Classes</h3>
			<ul>
				<li><a href="class-Tev.Post.Model.AbstractPost.html">AbstractPost</a></li>
				<li><a href="class-Tev.Post.Model.Attachment.html">Attachment</a></li>
				<li class="active"><a href="class-Tev.Post.Model.Page.html">Page</a></li>
				<li><a href="class-Tev.Post.Model.Post.html">Post</a></li>
			</ul>





		</div>
	</div>
</div>

<div id="splitter"></div>

<div id="right">
	<div id="rightInner">
<div id="content" class="class">
	<h1>Class Page</h1>


	<div class="description">
	<p>Entity class for the 'page' post type.</p>
	</div>

	<dl class="tree well">
		<dd style="padding-left:0px">
			<a href="class-Tev.Post.Model.AbstractPost.html"><span>Tev\Post\Model\AbstractPost</span></a>
			
			 implements 
				<a href="class-Tev.Contracts.WordpressWrapperInterface.html"><span>Tev\Contracts\WordpressWrapperInterface</span></a>
			
			
		</dd>
		<dd style="padding-left:30px">
			<img src="resources/inherit.png" alt="Extended by">
<b><span>Tev\Post\Model\Page</span></b>			
			
			
		</dd>
	</dl>








	<div class="alert alert-info">
		
		
		<b>Namespace:</b> <a href="namespace-Tev.html">Tev</a>\<a href="namespace-Tev.Post.html">Post</a>\<a href="namespace-Tev.Post.Model.html">Model</a><br>
		

			<b>Located at</b> <a href="source-class-Tev.Post.Model.Page.html#4-7" title="Go to source code">Tev/Post/Model/Page.php</a>
		<br>
	</div>



		<h2>Methods summary</h2>

		<h3>Methods inherited from <a href="class-Tev.Post.Model.AbstractPost.html#methods">Tev\Post\Model\AbstractPost</a></h3>
		<p class="elementList">
			<code><a href="class-Tev.Post.Model.AbstractPost.html#___construct">__construct()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_field">field()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getAuthor">getAuthor()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getAuthorId">getAuthorId()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getBaseObject">getBaseObject()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getCategories">getCategories()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getContent">getContent()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getExcerpt">getExcerpt()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getFeaturedImage">getFeaturedImage()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getFeaturedImageUrl">getFeaturedImageUrl()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getId">getId()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getModifiedDate">getModifiedDate()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getModifiedDateGmt">getModifiedDateGmt()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getName">getName()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getParent">getParent()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getParentPostId">getParentPostId()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getPostTypeObject">getPostTypeObject()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getPublishedDate">getPublishedDate()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getPublishedDateGmt">getPublishedDateGmt()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getRawContent">getRawContent()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getStatus">getStatus()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getTags">getTags()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getTermsFor">getTermsFor()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getTitle">getTitle()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getType">getType()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getTypeLabels">getTypeLabels()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getTypeName">getTypeName()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_getUrl">getUrl()</a></code>, 
			<code><a href="class-Tev.Post.Model.AbstractPost.html#_meta">meta()</a></code>
		</p>


		<h3>Magic methods summary</h3>








</div>
	</div>

	<div id="footer">
		3ev Core Wordpress library API API documentation generated by <a href="http://apigen.org">ApiGen</a>
	</div>
</div>
<script src="resources/combined.js"></script>
<script src="elementlist.js"></script>
</body>
</html>
